<div class="container1">
<h1 class="head">Keanu Reeves</h1><h1>BIOGRAPHY</h1>
<p >
Keanu Charles Reeves  born September 2, 1964  is a Canadian[b] actor and musician. 
Born in Beirut and raised in Toronto, he made his acting debut in the Canadian 
television series Hangin In (1984), before making his feature film debut in Youngblood
(1986). He had his breakthrough role in the science fiction comedy Bill & Ted's Excellent
Adventure (1989), and he reprised his role in its sequels. He gained praise for playing 
a hustler in the independent drama My Own Private Idaho (1991) and established himself 
as an action hero with leading roles in Point Break (1991) and Speed (1994).Following 
several box office failures, Reeves's performance in the horror film The Devil's Advocate 
(1997) was well received. Greater stardom came for playing Neo in the science fiction 
series The Matrix, beginning in 1999. He played John Constantine in Constantine (2005) 
and starred in the romantic drama The Lake House (2006), the science fiction thriller
The Day the Earth Stood Still (2008), and the crime thriller Street Kings (2008).
Following another commercially down period, Reeves made a successful comeback by 
playing the titular assassin in the John Wick film series, beginning in 2014. Time 
named him one of the 100 most influential people in the world in 2022.[9] In addition 
to acting, Reeves has directed the film Man of Tai Chi (2013). He plays bass guitar 
for the band Dogstar and pursued other endeavours such as writing and philanthropy.
</p>
<img src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcSZG4xRtQTawU7GQ75VQ9Fv0gUgU7PnGutWGFYTPEJWAWEJYlJh_rkEGhkKcqGkdfzXmWhO9tVMTl5r6aQ">
<h1 class="head">EARLY LIFE</h1>
<div class="container">
<div class="m" >
  <img src="https://pyxis.nymag.com/v1/imgs/654/1f1/08de774c11d89cb3f4ecf600a33e9c8283-24-keanu-reeves.rsquare.w700.jpg" >
</div>
<div class="para">

  <pre>
    Reeves was born in Beirut, Lebanon, on September 2, 1964, the son of Patricia 
    (née Taylor), a costume designer and performer, and Samuel Nowlin Reeves Jr. 
    His mother is English, originating from Essex.[10] His American father is from 
    Hawaii, and is of Native Hawaiian, Chinese, English, Irish, and Portuguese descent.
    [5][11][12] His paternal grandmother is Chinese Hawaiian.[13] His mother was working
    in Beirut when she met his father,[14] who abandoned his wife and family when Reeves
    was three years old. Reeves last met his father on the Hawaiian island of Kauai when 
    he was 13.[15] After his parents divorced in 1966, his mother moved the family to 
    Sydney,[15][16] and then to New York City, where she married Paul Aaron, a Broadway
    and Hollywood director, in 1970.[15] The couple moved to Toronto and divorced in 
    1971. When Reeves was nine, he took part in a theatre production of Damn Yankees.
    [17] Aaron remained close to Reeves, offering him advice and recommending him a job
    at the Hedgerow Theatre in Pennsylvania.[15] Reeves's mother married Robert Miller,
    a rock music promoter, in 1976; the couple divorced in 1980. Reeves and his sisters
    grew up primarily in the Yorkville neighbourhood of Toronto, with a nanny caring 
    for them frequently.[15][18] Because of his grandmother's ethnicity, he grew up
    with Chinese art, furniture, and cuisine.
       </pre>
</div>

</div>
<h1>ABOUT</h1>
<div class="content">
  <div class="m1">
    <img src="https://people.com/thmb/nzmLZ6kNr29U_nnlHR_xvDY2Lpo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(665x0:667x2)/keanu-reeves-2000-6c1a85f168344ea18783e126b5e4a331.jpg">
  </div>
  <div class="text">
    <pre>
              <strong>      <h2>   Reeves in 2019</h2></strong>

      <b>Born:</b>	        Keanu Charles Reeves
                        September 2, 1964 (age 59)
                        Beirut, Lebanon
      <b>Nationality:</b>	Canadian
      <b>Occupations:</b>      Actormusician
      <b>Years active:</b>	1984–present
      <b>Partner(s):</b>	Jennifer Syme(1998–2001; her death)
                        Alexandra Grant(c. 2018–present)
      <b>Children:</b>         1
      </pre>
  </div>
</div>
<h2>Filmography and awards</h2>
<P>Prolific in film since 1985, Reeves's most acclaimed and highest-grossing films, 
  according to the review aggregate site Rotten 
  Tomatoes, include: River's Edge (1987), Bill and Ted's Excellent Adventure (1989), My
   Own Private Idaho (1991), Much Ado About Nothing (1993), Speed (1994), The Matrix
    (1999), John Wick (2014), John Wick: Chapter 2 (2017), John Wick: Chapter
     3 – Parabellum (2019), and Toy Story 4 (2019).[249] Reeves has won four MTV Movie
      Awards,[50][250][251] and received two Best Actor nominations at the Saturn Awards.
      [252] He was nominated twice for a People's Choice Award: Favorite Male Movie 
      Star and Favorite Action
   Movie Star, for his performance in John Wick: Chapter 3 – Parabellum (2019).[253]
  In September 2021, Tae Kwon Do Life Magazine deemed Reeves the "#1 Martial Arts 
  movie star in the world" based upon his multiple films in the genre, their popularity, 
  and sheer box office gross.[254]</P>
  <h2>Business and philanthropy</h2>
  <p>Reeves supports several charities and causes. In response to his sister's battle 
    with leukemia, he founded a private cancer foundation, which aids children's 
    hospitals and provides cancer research.[218][219] In June 2020, he volunteered 
    for Camp Rainbow Gold, an Idaho children's cancer charity.[220] Reeves has said,
     "Money is the last thing I think about. I could live on what I have already made
      for the next few centuries".[221] It was rumoured that Reeves gave away
       a substantial portion, estimated to be $35–$125 million, of his earnings from
        The Matrix to the special effects and makeup crews. However, this has been 
        significantly embellished; Reeves negotiated a smaller deal, relinquishing
         his contractual right to a percentage of the
     sequels' profits in exchange for a more extensive special effects budget.</p>
     <div class="content1">
      <div class="m2">
        <h1>NOTES</h1>
      </div>
      <div class="text1">
        <p> Although Reeves and Grant have had a business relationship publishing books that began shortly after they met in 2009, they only went public with their personal relationship in November 2019.[1] Meg Tilly, Grant's friend, stated in July 2020 that "I remember a couple of years ago, about a year and a half ago, [Grant] said, 'Keanu Reeves is my boyfriend,'" and "[Grant] had gone to a lot of events with him [in the past]. It's just suddenly surfaced that he's been dating her for several years."[2] Therefore the earliest that one could reasonably surmise that the personal relationship began is 2018.[3]
          Although he was born in Lebanon to an English mother and American father, Reeves grew up in Canada, identifies as Canadian, and holds only Canadian citizenship.[</p>
      
        </div>
     </div>
  </div>
<style>
  .container1{
    background-image: url("https://www.nicepng.com/png/full/4-46819_background-image-for-biography.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
  display: flex;
  align-items: center;
  justify-content: center
}

h2{
  text-align:center;
}


.m {
  flex-basis: 40%
}
.m1{
  flex-basis:40%;
}

.para {
  font-size: 20px;
  padding-left: 20px;
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
  .m img{
      border-radius:20%;
      height:500px;
      width:600px;
      margin-left: auto;
    }
    .m1 img{
      border-radius:20%;
      height:500px;
      width:500px;
      margin-left: auto;
    }
    .content {
      background: linear-gradient(rgb(206, 117, 34),rgb(232, 176, 123));
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.m1 {
  flex-basis: 40%
}

.text {
  font-size: 20px;
  padding-left: 20px;
}
  h1{
    height:auto;
    background: linear-gradient(rgb(127, 63, 26),rgb(223, 159, 96),rgb(127, 63, 26));
    color: rgb(18, 18, 18);
    padding: 10px;
    text-align: center;
    
  }
  body{
    text-align:center;
  }
  img{
    width:600px;
    height:500px;
text-align:center;
display:grid;
margin-left:auto;
margin-right:auto;
  }
  p{
    text-align:center;
    font-size:x-large;
  }
</style>
